<li class="comment-partial" id="comment<%= comment.id %>" style="padding-left: 10px;">
	<strong > <%= comment.user.name %> </strong>
	
<!-- 	<% if comment.commentable_type == "Comment" %>	
		<span>Reply to <%= User.find(Comment.find(comment.commentable_id).user_id).name %></span>
	<% end %> -->
	
	<span style="float: right"><%= time_ago_in_words(comment.created_at) %> ago </span>
	<br>
	<div> <%= comment.body %> </div>
	<a class="reply-button">Reply</a>
	<% if comment.commentable_type == "Micropost" %>
		<div class="reply-form" style="display: none">
			<%= form_for [comment, Comment.new],remote: true do |f| %>
				<%= f.text_area :body %>
				<%= f.hidden_field :parent_id, value: comment.parent_id %>
				<%= f.submit "Save Comment", data: { "disable-with": "Saving..." } %>
			<% end 	%>
		</div>
	<% elsif comment.commentable_type == "Comment" %>
		<div class="reply-form" style="display: none">
			
			<% comment_nest =  Comment.find(comment.commentable_id) %>
			<%= form_for [comment_nest, Comment.new], remote: true do |f| %>
				<%= f.text_area :body %>
				<%= f.hidden_field :parent_id, value: comment_nest.parent_id %>
				<%= f.submit "Save Reply", data: {"disable-with": "Replying..."} %>
			<% end 	%>
		</div>
	<% end %>
	<% if current_user == comment.user %>
			<%= link_to "Delete", comment,remote: true, method: :delete, data: {confirm: "Delete your comment?"} %>
	<% end %>
	<% if comment.comments.any? %>
		<button class="show-replies">Show replies</button>
	<% end %>

	<ul style="padding-left: 20px" class="comments-ul" id="com<%= comment.id %>reply"><%= render partial: 'comments/comment', collection: comment.comments %></ul>
</li>

