<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages' , object: f.object %>

	<div class="form-field">
		<%= f.text_area :content, placeholder: "Compose new micropost...[140 characters]", maxlength: '140', class: 'form-control',rows: "5" %>
	</div>
	<div id="textarea_feedback"></div>
	<%= f.submit "Post",class: "btn btn-primary" %>

	<span class="picture">
		<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    <img id="upload_image_preview" src="#" alt="your image" width="auto" height="auto" style="visibility: hidden;" />
	</span>
<% end %>

<script type="text/javascript">


  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
    else
      readURL(this);
  });

  $(document).ready(function() {
    var text_max = 140;
    $('#textarea_feedback').html(text_max + ' characters remaining');

    $('#micropost_content').keydown(function() {
        var text_length = $('#micropost_content').val().length;
        var text_remaining = text_max - text_length;
        $('#textarea_feedback').html(text_remaining + ' characters remaining');
    });
    $('#micropost_content').keyup(function() {
        var text_length = $('#micropost_content').val().length;
        var text_remaining = text_max - text_length;
        $('#textarea_feedback').html(text_remaining + ' characters remaining');
    });
});

function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#upload_image_preview').css("visibility","visible");
      $('#upload_image_preview').css("max-width","300px");
      $('#upload_image_preview').css("max-height","300px");
      $('#upload_image_preview').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}
</script>