<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Social App", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li style="margin: 7px;">
                  <%= form_with url: search_path, method: :get,local: true do |f| %>
                  <%= f.text_field :q, placeholder: "Search", data:  {behavior: "autocomplete"} , class: "form-control", id: "searcher" %>
                  <!-- <li> <input id="searcher" class="form-control" style="margin: 5px;" type="text" data-behavior="autocomplete" placeholder="Search.."> </li>
       -->      
                  <% end %>  
                </li>
              
            <% end %>
            
            <li> <%= link_to "Home" , root_path %> </li>
            
            <% if user_signed_in? %>
              <li> <%= link_to "Users" , users_path  %> </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" >  
                  <% if current_user.admin? %>
                    <%= content_tag(:i, fa_icon('user-secret lg'),title: "Admin") %>
                  <% else %>
                    <%= content_tag(:i, fa_icon('user-circle lg')) %>
                  <% end %>
                  <%= current_user.name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li> <%= link_to "Profile" , current_user %> </li>
                  <% # read this again %>
                  <li> <%=  link_to "Setting" , edit_user_registration_path %> </li>   
                  <li class="divider"> </li>
                  <li>
                     <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li> <%= link_to "Log in" ,new_user_session_path %> </li>
              <li> <%= link_to "Sign up" , new_user_registration_path %> </li>

            <% end %>

          </ul>
        </nav>
      </div>
</header>